/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  background-image: url("/img/heartHandsSunset.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-content .main-p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 50px;
  padding: 40px;
  background-color: #dfdffc;
  border-radius: 2rem;
  box-shadow: 1.5rem 1.5rem 1.5rem #464545;
}
.main-content h2 {
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 3rem;
  font-family: 'Sigmar One', cursive;
  text-shadow: 2px 2px 2px #464545;
}
p {
  font-size: 2rem;
  font-family: 'Boogaloo', cursive;
  text-shadow: 1px 1px 1px #464545;
  text-indent: 2rem;
}
.btnpanel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnpanel .ctaBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 50px;
}
.btnpanel .ctaBtns #apple {
  width: 15%;
  min-width: 75px;
  box-shadow: 1rem 1rem 1rem #464545;
}
.btnpanel .ctaBtns .login {
  width: 15%;
  height: 4rem;
  border-radius: 1rem;
  background-color: #fad190;
  box-shadow: 1rem 1rem 1rem #464545;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 2px white;
  min-width: 75px;
}
.btnpanel .ctaBtns #google {
  min-width: 80px;
  width: 17%;
  box-shadow: 1rem 1rem 1rem #464545;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
footer .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}
footer .footer img {
  max-width: 75px;
  width: 7%;
  box-shadow: 1rem 1rem 1rem #464545;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}
.head-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #dfdffc;
  border-radius: 2rem;
  box-shadow: 1.5rem 1.5rem 1.5rem #464545;
  width: 85%;
  height: 175px;
}
.head-container img {
  width: 10%;
}
.head-container .head-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  width: 60%;
  height: 100%;
}
.head-container .head-center nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.head-container .head-center nav a {
  font-size: 2rem;
  width: 20%;
  min-width: 75px;
  height: 40px;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 2rem;
  background-color: #fad190;
  box-shadow: 1rem 1rem 1rem #464545;
  color: black;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 2px white;
}
.head-container .head-center h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Sigmar One', cursive;
  text-shadow: 2px 2px 2px #464545;
}
h2 {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  font-size: 4rem;
  font-family: 'Sigmar One', cursive;
}
.videos-container {
  background-image: url("/img/holdingHandsCircle.jpg");
}
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}
/* Hide the videos by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -25px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 0px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 0px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
@media (max-width: 500px) {
  .head-container {
    height: 120px;
    width: 95%;
  }
}
@media (max-width: 500px) {
  .head-container .head-center nav a {
    font-size: 1.5rem;
    height: 25px;
    width: 30%;
    min-width: 50px;
    padding-top: 4px;
  }
}
@media (max-width: 500px) {
  .head-container .head-center h1 {
    font-size: 3rem;
  }
}
@keyframes trans {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
