* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  background-image: url("/img/heartHandsSunset.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  .flex(space-around, center);
  flex-direction: column;
  flex-wrap: wrap;
  .main-p {
    .flex(space-around, center);
    flex-wrap: wrap;
    width: 60%;
    margin-top: 50px;
    padding: 40px;
    .boxstyle();
  }
}

.main-content h2 {
  width:85%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 3rem;
  .headingfont();
  .textstyle();
}

p {
  font-size: 2rem;
  .pfont();
  .smtextstyle();
  text-indent: 2rem;
}

.btnpanel{
  .flex(center, center);
  .ctaBtns {
    .flex(space-between, center);
    width: 60%;
    margin-top: 50px;
    #apple {
      width: 15%;
      min-width: 75px;
      .boxshadow();
    }
    .login {
      width: 15%;
      height: 4rem;
      border-radius: 1rem;
      background-color: @btncolor;
      .boxshadow();
      font-size: 2rem;
      font-weight: bold;
      font-style: italic;
      text-shadow: 2px 2px 2px white;
      min-width: 75px;
    }
    #google {
      min-width: 80px;
      width: 17%;
      .boxshadow();
    }
  }
}

footer {
  .flex(space-around, center);
  margin-top: 50px;
  margin-bottom: 25px;
  .footer{
    .flex(space-around, center);
    width: 75%;
    img {
      max-width: 75px;
      width: 7%;
      .boxshadow();
    }
  }
}


