.testbor() {
  border: 1px solid blue;
}
.flex(@justify, @align){
  display: flex;
  justify-content: @justify;
  align-items: @align;
}
.mobile-style() {
  .flex(center, center);
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
.mbl-width() {
  width:100%;
}
.boxstyle() {
  background-color: @objBack;
  border-radius: 2rem;
  box-shadow: 1.5rem 1.5rem 1.5rem @shadow;
}
.boxshadow() {
  box-shadow: 1rem 1rem 1rem @shadow;
}
.textstyle() {
  text-shadow: 2px 2px 2px @shadow;
}
.smtextstyle() {
  text-shadow: 1px 1px 1px @shadow;
}
.headingfont() {
  font-family: 'Sigmar One', cursive;
}
.pfont() {
  font-family: 'Boogaloo', cursive;
}