.vidsection {
  .flex(center, center);
  .viddiv {
    .flex(space-around, center);
    flex-wrap: wrap;
    width: 85%;
    .videos {
      width: 45%;
      margin: 20px;
    }
    .paragraph {
      width: 40%;
      p {
        font-size: 3rem;
      }
    }
  }
}